<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968992127937-3mnfr0tbs6hd32ba1uurhgq04br1mdvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968992127937-3mnfr0tbs6hd32ba1uurhgq04br1mdvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDjc5kvav-_KXuVISrEpZ3KdGmNHzIftGs</string>
	<key>GCM_SENDER_ID</key>
	<string>968992127937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.sinbaddev.ios</string>
	<key>PROJECT_ID</key>
	<string>sinbad-development</string>
	<key>STORAGE_BUCKET</key>
	<string>sinbad-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968992127937:ios:aacced95db9c57a5614d40</string>
	<key>DATABASE_URL</key>
	<string>https://sinbad-development-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>